.card {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.card__title {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 20px;
}

.card__subtitle {
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.card__img {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    align-self: center;
}

@media screen and (min-width: 767px) and (max-width:1024px) {
    .card__title {
        line-height: 25px;
        font-size: 18px;
    }

    .card__subtitle {
        line-height: 25px;
        font-size: 18px;
    }

}